common
future
h5py
kornia
matplotlib
numpy
opencv-contrib-python
pytorch-msssim
recordclass
sacred
scikit-image
scipy
torchsummary
tqdm
git+https://github.com/S-aiueo32/contextual_loss_pytorch.git
git+https://github.com/S-aiueo32/lpips-pytorch.git